# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt

baltimore_df = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston_df    = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
new_york_df  = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philly_df    = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

**Recommended cleaning steps:**
1. Handle missing values in the `Type` column (fill with "Conventional" if needed)
2. Drop irrelevant columns such as `Grade` (only applies to canned pumpkins)
3. Drop columns with high percentages of missing data that aren't needed for analysis
4. Check for and address any other data quality issues you notice

In [2]:
# Clean your data here!

# 1
baltimore_df["Type"] = baltimore_df["Type"].fillna("Conventional")
boston_df["Type"] = boston_df["Type"].fillna("Conventional")
new_york_df["Type"] = new_york_df["Type"].fillna("Conventional")

# 2

# Baltimore
#for col in baltimore_df.columns:
 #   pct_missing = baltimore_df[col].isnull().mean()
  #  print('{} - {}%'.format(col, round(pct_missing * 100)))

# Boston
#for col in boston_df.columns:
 #   pct_missing = boston_df[col].isnull().mean()
  #  print('{} - {}%'.format(col, round(pct_missing * 100)))

# New York
#for col in new_york_df.columns:
 #   pct_missing = new_york_df[col].isnull().mean()
  #  print('{} - {}%'.format(col, round(pct_missing * 100)))

# Philly
#for col in philly_df.columns:
 #   pct_missing = philly_df[col].isnull().mean()
  #  print('{} - {}%'.format(col, round(pct_missing * 100)))

ba_total_cells = np.prod(baltimore_df.shape)
bo_total_cells = np.prod(boston_df.shape)
ny_total_cells = np.prod(new_york_df.shape)
p_total_cells = np.prod(philly_df.shape)

ba_missing_cells = pd.isnull(baltimore_df).sum()
bo_missing_cells = pd.isnull(boston_df).sum()
ny_missing_cells = pd.isnull(new_york_df).sum()
p_missing_cells = pd.isnull(philly_df).sum()

ba_total_missing = ba_missing_cells.sum()
bo_total_missing = bo_missing_cells.sum()
ny_total_missing = ny_missing_cells.sum()
p_total_missing = p_missing_cells.sum()

ba_percentage_missing = round((ba_total_missing/ba_total_cells), 2) *100
bo_percentage_missing = round((bo_total_missing/bo_total_cells), 2) *100
ny_percentage_missing = round((ny_total_missing/ny_total_cells), 2) *100
p_percentage_missing = round((p_total_missing/p_total_cells), 2) *100

print(ba_percentage_missing, "% Missing cells from the data") 
print(bo_percentage_missing, "% Missing cells from the data") 
print(ny_percentage_missing, "% Missing cells from the data") 
print(p_percentage_missing, "% Missing cells from the data") 

# ba drops (>50%)
# sub.v (84%), grade(100%), origin district(100%), color(80%), environment(100%), 
# unit of sale(84%), quality(100%), condition(100%), appearance(100%), storage(100%),
# crop(100%), trans mode(100%)

# bo drops (>50%)
# sub.v(92%%), grade(100%), origin district(81%), environment(100%), 
# unit of sale(87%), quality(100%), condition(100%), appearance(100%), storage(100%),
# crop(100%), trans mode(100%)

# ny drops (>50%)
# sub.v (84%), grade(100%), origin district(87%), color(81%), environment(100%), 
# unit of sale(78%), quality(100%), condition(100%), appearance(100%), storage(100%),
# crop(100%), trans mode(100%)

# p drops (>50%)
# type(100%), sub.v (79%), grade(100%), origin district(100%), color(100%), environment(100%), 
# unit of sale(81%), quality(100%), condition(100%), appearance(100%), storage(100%),
# crop(100%), trans mode(100%)

# 3
baltimore_drop_cols = [
    "Sub Variety", "Grade", "Origin District", "Color", "Environment", 
    "Unit of Sale", "Quality", "Condition", "Appearance",
    "Storage", "Crop", "Trans Mode"
]

boston_drop_cols = [ "Sub Variety", "Grade", "Origin District", "Environment", 
"Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"
]

ny_drop_cols = [
    "Sub Variety", "Grade", "Origin District", "Color", "Environment", "Unit of Sale",
    "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"
]

philly_drop_cols = [
    "Type", "Sub Variety", "Grade", "Origin District", "Color", "Environment",
    "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"
]

# 4 
baltimore_df.duplicated().sum()
boston_df.duplicated().sum()
new_york_df.duplicated().sum()
philly_df.duplicated().sum()

47.0 % Missing cells from the data
43.0 % Missing cells from the data
45.0 % Missing cells from the data
51.0 % Missing cells from the data

np.int64(0)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [3]:
# Combine the four dataframes into one!

combined_df = pd.concat([baltimore_df, boston_df, new_york_df, philly_df], ignore_index=True)

combined_df

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,11/05/2016,16,18.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
670,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,08/26/2017,18,20.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
671,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/16/2017,16,16.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
672,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/23/2017,15,16.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
673,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/30/2017,15,18.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region?
2. For the Northeast region, what is the total count of transactions (rows) for each pumpkin variety that came into terminal markets for the year?

In [4]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northeast = combined_df[combined_df["City Name"].isin(["BALTIMORE", "BOSTON", "NEW YORK", "PHILADELPHIA"])]

northeast.groupby("Unit of Sale").agg({
    "Low Price": "mean",
    "High Price": "mean"
})

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [7]:
# Put your code here to find the total count of transactions for each variety in the Northeast region.
# Filter for Northeast cities
northeast = combined_df[combined_df["City Name"].isin(["BALTIMORE", "BOSTON", "NEW YORK", "PHILADELPHIA"])]

# Group by variety and count number of rows for each
northeast_variety_counts = northeast.groupby("Variety").size().reset_index(name="Transaction Count")

northeast_variety_counts

                    Variety  Transaction Count
0             BIG MACK TYPE                 55
1                 BLUE TYPE                  7
2                CINDERELLA                 39
3                 FAIRYTALE                 37
4               HOWDEN TYPE                224
5         HOWDEN WHITE TYPE                  2
6              KNUCKLE HEAD                  9
7                 MINIATURE                 97
8  MIXED HEIRLOOM VARIETIES                  4
9                  PIE TYPE                198

## Bonus Mission

Try answering the same questions for a different region! Choose either:
- **Midwest**: Chicago, Detroit, and St. Louis
- **Southeast**: Atlanta, Columbia, and Miami

Load, clean, and combine the data for your chosen region, then calculate:
1. The mean low and high prices for each type of unit of sale
2. The total count of transactions for each pumpkin variety

In [8]:
# Try the bonus mission if you have time!

atlanta_df = pd.read_csv("dataset/atlanta_9-24-2016_9-30-2017.csv")
columbia_df = pd.read_csv("dataset/columbia_9-24-2016_9-30-2017.csv")
miami_df = pd.read_csv("dataset/columbia_9-24-2016_9-30-2017.csv")

In [19]:
 # Clean data

# 1
atlanta_df["Type"] = atlanta_df["Type"].fillna("Conventional")
columbia_df["Type"] = columbia_df["Type"].fillna("Conventional")
miami_df["Type"] = miami_df["Type"].fillna("Conventional")

# 2

# Atlanta
#for col in atlanta_df.columns:
 #   pct_missing = atlanta_df[col].isnull().mean()
  #  print('{} - {}%'.format(col, round(pct_missing * 100)))

# Columbia
#for col in columbia_df.columns:
 #   pct_missing = columbia_df[col].isnull().mean()
  #  print('{} - {}%'.format(col, round(pct_missing * 100)))

# Miami
#for col in miami_df.columns:
 #   pct_missing = miami_df[col].isnull().mean()
  #  print('{} - {}%'.format(col, round(pct_missing * 100)))


#atl_total_cells = np.prod(atlanta_df.shape)
#colu_total_cells = np.prod(columbia_df.shape)
#mia_total_cells = np.prod(miami_df.shape)


#atl_missing_cells = pd.isnull(atlanta_df).sum()
#colu_missing_cells = pd.isnull(columbia_df).sum()
#mia_missing_cells = pd.isnull(miami_df).sum()


#atl_total_missing = atl_missing_cells.sum()
#colu_total_missing = colu_missing_cells.sum()
#mia_total_missing = mia_missing_cells.sum()


#atl_percentage_missing = round((atl_total_missing/atl_total_cells), 2) *100
#colu_percentage_missing = round((colu_total_missing/colu_total_cells), 2) *100
#mia_percentage_missing = round((mia_total_missing/mia_total_cells), 2) *100


#print(atl_percentage_missing, "% Missing cells from the data") 
#print(colu_percentage_missing, "% Missing cells from the data") 
#print(mia_percentage_missing, "% Missing cells from the data") 
 

# atl drops (>50%)
# sub.v (98%), grade(100%), origin district(100%), color(80%), environment(100%), 
# unit of sale(100%), quality(100%), condition(100%), appearance(100%), storage(100%),
# crop(100%), trans mode(100%)

# colu drops (>50%)
# sub.v(79%), grade(100%), origin district(100%), environment(100%), 
# unit of sale(100%), quality(100%), condition(100%), appearance(100%), storage(100%),
# crop(100%), trans mode(100%)

# mia drops (>50%)
# sub.v (79%), grade(100%), origin district(100%), environment(100%), 
# unit of sale(100%), quality(100%), condition(100%), appearance(100%), storage(100%),
# crop(100%), trans mode(100%)


# 3
atlanta_drop_cols = [
    "Sub Variety", "Grade", "Origin District", "Color", "Environment", 
    "Unit of Sale", "Quality", "Condition", "Appearance",
    "Storage", "Crop", "Trans Mode"
]

columbia_drop_cols = [ "Sub Variety", "Grade", "Origin District", "Environment", 
"Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"
]

miami_drop_cols = [
    "Sub Variety", "Grade", "Origin District", "Environment", "Unit of Sale",
    "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"
]

# 4 
baltimore_df.duplicated().sum()
boston_df.duplicated().sum()
new_york_df.duplicated().sum()
philly_df.duplicated().sum()

southeast_df = pd.concat([atlanta_df, columbia_df, miami_df], ignore_index=True)

southeast_df

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,ATLANTA,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,140.0,154.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,ATLANTA,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,145.0,154.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,ATLANTA,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150.0,154.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,ATLANTA,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150.0,150.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,ATLANTA,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140.0,154.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,PUMPKINS,COLUMBIA,Conventional,bushel cartons,MINIATURE,FLAT TYPE,NaN,10/22/2016,28.0,28.00,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
579,PUMPKINS,COLUMBIA,Conventional,bushel cartons,MINIATURE,FLAT TYPE,NaN,10/22/2016,28.0,28.00,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
580,PUMPKINS,COLUMBIA,Conventional,bushel cartons,MINIATURE,FLAT TYPE,NaN,10/29/2016,30.0,30.00,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
581,PUMPKINS,COLUMBIA,Conventional,bushel cartons,MINIATURE,FLAT TYPE,NaN,10/29/2016,28.0,28.00,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
582,PUMPKINS,COLUMBIA,Conventional,bushel cartons,MINIATURE,FLAT TYPE,NaN,10/29/2016,28.0,28.00,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [22]:
# 1. The mean low and high prices for each type of unit of sale
southeast_mean_prices = southeast_df.groupby("Unit of Sale")[["Low Price", "High Price"]].mean()
southeast_mean_prices

# 2. The total count of transactions for each pumpkin variety
southeast_transaction_counts = southeast_df.groupby("Variety").size()
southeast_transaction_counts

Variety
BLUE TYPE                    22
CINDERELLA                   32
FAIRYTALE                    22
HOWDEN TYPE                 217
HOWDEN WHITE TYPE            16
KNUCKLE HEAD                 22
MINIATURE                   109
MIXED HEIRLOOM VARIETIES     24
PIE TYPE                    119
dtype: int64